<mat-card>

    <img mat-card-image [src]="product.image" [alt]="product.title">
    
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>

    <mat-card-title>{{ product.title }}</mat-card-title>

    <mat-card-actions>
      
      <app-quantity [product]="product" (quantityIncreased)="addedToCart()" (removedFromCart)="removedFromCart()">
        <button mat-mini-fab color="basic" [routerLink]="['/products', product.id]">
          <mat-icon>visibility</mat-icon>
        </button>
      </app-quantity>

    </mat-card-actions>
    
</mat-card>
