<main>
    <div class="container">

        <mat-stepper>

            <mat-step label="Account information" [stepControl]="step1.form">
                <app-checkout-account-info #step1></app-checkout-account-info>
                <div class="align-right">
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step label="Payment details" [stepControl]="step2.form">
                <app-checkout-payment-details #step2></app-checkout-payment-details>
                <div class="align-right">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step #step3 label="Review and complete">

                <ng-container *ngIf="(cart$ | async) as cart">
         
                    <app-checkout-final-step [cardNumber]="step2.cardNumber.value" [cart]="cart" [total]="(total$ | async) || 0"></app-checkout-final-step>

                    <div class="align-right">
                        <button mat-stroked-button matStepperPrevious>Back</button>
                    </div>

                </ng-container>

            </mat-step>

        </mat-stepper>

    </div>
</main>