
<mat-sidenav-container fullscreen>

    <mat-sidenav-content>

        <p>
            <mat-toolbar color="primary">
             <button mat-icon-button aria-label="Navigation menu icon" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Meal Delivery Service</span>
          </mat-toolbar>
        </p>

        <app-loading></app-loading>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

    <mat-sidenav [opened]="true" [mode]="'side'" #sidenav>
        <mat-nav-list>

            <a mat-list-item routerLink="/shop">
                <mat-icon matListIcon>store</mat-icon>
                <span>Shop</span>
            </a>

            <a mat-list-item routerLink="/cart">
                <mat-icon #cartBadge matListIcon [matBadge]="(cartQuantity$ | async)" [matBadgeHidden]="(badgeHidden$ | async)" matBadgePosition="before">shopping_cart</mat-icon>
                <span>Cart</span>
            </a>

            <a mat-list-item routerLink="/register" *ngIf="!(auth.user$ | async)">
                <mat-icon matListIcon>person_add</mat-icon>
                <span>Register</span>
            </a>

            <a mat-list-item routerLink="/login" *ngIf="!(auth.user$ | async)">
                <mat-icon matListIcon>login</mat-icon>
                <span>Login</span>
            </a>

            <a mat-list-item *ngIf="(auth.user$ | async)" (click)="auth.logout()">
                <mat-icon matListIcon>logout</mat-icon>
                <span>Logout</span>
            </a>


        </mat-nav-list>
    </mat-sidenav>

</mat-sidenav-container>

  

